accelerate==1.14.0
bitsandbytes==0.50.1
datasets==5.0.1
einops==0.8.1
evaluate==0.4.6
modelscope==1.39.1
peft==0.20.0
protobuf==6.33.6
sentencepiece==0.2.1
torch==2.13.0
torchvision==0.28.0
transformers==5.15.0
